<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <mvc:annotation-driven/><!--для того чтобы срабатывали аннотации по типу RequestMapping-->
    <context:component-scan base-package="com.alena.preparationproject"/><!--с какого пакета брать кастомные бины-->

    <!--<mvc:view-controller path="/" view-name="start"/>--><!--выводим в любом случае при обращении к варнику-->
    <mvc:resources mapping="/resources/**" location="/resources/" />

    <context:annotation-config/>
    <!--<bean name="JavaConfigBeans" class="com.alena.preparationproject.spring.JavaConfigBeans"/>-->

    <bean id="resolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--для hibernate-->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="PersistenceUnit" />
    </bean>

    <!--для spring jdbc-->
<!--    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName" value="com.mysql.jdbc.Driver" />-->
<!--        <property name="url" value="jdbc:mysql://localhost:3306/preparation_project" />-->
<!--        <property name="username" value="postgresql" />-->
<!--        <property name="password" value="root" />-->
<!--    </bean>-->

<!--    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName" value="org.postgresql.Driver" />-->
<!--        <property name="url" value="jdbc:postgresql://localhost:5432/preparation_project" />-->
<!--        <property name="username" value="postgres" />-->
<!--        <property name="password" value="root" />-->
<!--    </bean>-->

<!--    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
<!--        <property name="dataSource" ref="dataSource"/>-->
<!--    </bean>-->
<!--    &lt;!&ndash;для работы аннотации transactional&ndash;&gt;-->
<!--    <tx:annotation-driven/>-->

    <bean id="calculator" class="com.alena.preparationproject.admin.htmlreader.Calculator"/>

    <bean id="greenBirdParser" class="com.alena.preparationproject.admin.htmlreader.HtmlReader">
        <property name="charsetName" value="windows-1251"/>
        <property name="tableTag" value="table"/>
        <property name="tableAttributeName" value="class"/>
        <property name="tableName" value="visit_history"/>
        <property name="lineTag" value="tr"/>
        <property name="columnTag" value="td"/>
        <property name="columnSize" value="4"/>
    </bean>

    <bean id="pandahallParser" class="com.alena.preparationproject.admin.htmlreader.HtmlReader">
        <property name="charsetName" value="utf-8"/>
        <property name="tableTag" value="div"/>
        <property name="tableAttributeName" value="class"/>
        <property name="tableName" value="order_list"/>
        <property name="lineTag" value="ul"/>
        <property name="columnTag" value="li,img"/>
        <property name="columnSize" value="11"/>
    </bean>

    <bean id="stilnayaParser" class="com.alena.preparationproject.admin.htmlreader.HtmlReader">
        <property name="charsetName" value="utf-8"/>
        <property name="tableTag" value="table"/>
        <property name="tableAttributeName" value="class"/>
        <property name="tableName" value="vmbs-order-materials"/>
        <property name="lineTag" value="tr"/>
        <property name="columnTag" value="td"/>
        <property name="columnSize" value="7"/>
    </bean>

    <bean id="luxfurnituraParser" class="com.alena.preparationproject.admin.htmlreader.HtmlReader">
        <property name="charsetName" value="utf-8"/>
        <property name="tableTag" value="table"/>
        <property name="tableAttributeName" value="id"/>
        <property name="tableName" value="purchases"/>
        <property name="lineTag" value="tr"/>
        <property name="columnTag" value="td"/>
        <property name="columnSize" value="5"/>
    </bean>
</beans>